$primary-color: #2B303A;
$secondary-color: #EEE5E9;
$tertiary-color: #7C7C7C;
$qr-code: #7c7c7c33;
$button-color: #92DCE5;

:root{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}
button:hover{
    cursor: pointer;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAE6E5;
    background-color: $primary-color;
    height: 100vh;

    @media screen and (max-width: 50em) {
        flex-direction: column;
        height: 100%;
    }

    .heading{
        margin: 3rem 0 5rem 0;
    }
    .title, .sub-title{
        font-size: 4rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: #12130F;
        color: $secondary-color;
    }
    .sub-title{
        font-size: 1.5rem;
        color: $secondary-color;
        opacity: 0.5;
    }

    .user-input-section {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;

        @media screen and (max-width: 50em) {
            width: 100%;
            margin: 2rem 0 0 0;
        }

        .user-input{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .error {
                font-family: 'Poppins', sans-serif;
                font-size: 2rem;
                background-color: black;
                color: white;
                padding: 1rem;
                border: 0.2rem solid red;
                border-radius: 0.8rem;
            }

            label{
                text-align: center;
                font-size: 1.5rem;
                font-family: 'Poppins', sans-serif;
            }

            input {
                width: 80%;
                max-width: 35rem;
                font-family: 'Poppins', sans-serif;
                outline: none;
                border: none;
                border-radius: 0.5rem;
                background-color: #9b8774ad;
                background-color: $tertiary-color;
                text-align: center;
                padding: 1.5rem 1rem;
                margin: 1rem 1rem 2rem 1rem;
                color: black;

                &::placeholder {
                    color: $secondary-color;
                    color: $primary-color;
                }
            }

            
        }
    }

    .button{
        outline: none;
        border: none;
        border-radius: 0.5rem;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        background-color: #5b92799d;
        background-color: $button-color;
        color: black;
        font-family: 'Nunito', sans-serif;
        font-size: 1.6rem;

        i {
            margin-left: 1rem;
        }
    }

    .qr-code-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;

        @media screen and (max-width: 50em) {
            width: 100%;
            margin: 8rem 0;
        }

        .qr-code{
            
            display: flex;
            border-radius: 1rem;
            background-color: $qr-code;
            width: fit-content;
            flex-direction: column;
            justify-content: space-between;
            padding: 2rem;

            button{
                display: flex;
                justify-content: center;
                background-color: #1f1f1f;
                color: #EAE6E5;
                border: none;
                outline: none;
                width: 100%; 
                margin-top: 2.5rem;
                border-radius: 1rem;
                
                a{
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.5rem;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: #EAE6E5;
                    padding: 1rem;

                    i {
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
}


