$primary-color: #344966; //2F2235 2B303A
$secondary-color: #F0F4EF;
$tertiary-color: #B4CDED; // BFC3BA 7C7C7C
$qr-code: rgba(255, 255, 255, 0.041);
$button-color: #BFCC94; // 8DAA9D 92DCE5
$toggle-btn-color: #2B3D55;

:root{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}
button:hover{
    cursor: pointer;
}

body{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    background-color: #EAE6E5;
    background-color: $primary-color;
    height: 100vh;
    max-height: fit-content;
    position: relative;

    @media screen and (max-width: 50em) {
        flex-direction: column;
        height: 100%;
    }

    .select-section {
        position: absolute;
        top: 20rem;
        left: 50%;
        transform: translateX(-50%);

        .toggle-btn {
            background-color: $toggle-btn-color;
            outline: none;
            border: 0.2rem solid transparent;
            color: $secondary-color;
            padding: 1rem 2rem;
            margin: 0 1rem;
            border-radius: 0.6rem;
            font-family: 'Poppins', sans-serif;
            // box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
        }
    }

    .qr-code-generator-sec {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 30rem 0 5rem 0;

        @media screen and (max-width: 50em) {
            flex-direction: column;
            // height: 100%;
        }
    }

    .qr-code-reader-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 30rem 0 5rem 0;
    }

    .heading{
        position: absolute;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        // margin: 3rem 0 5rem 0;
    }
    .title, .sub-title{
        font-size: 4rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: #12130F;
        color: $secondary-color;
    }
    .sub-title{
        font-size: 1.5rem;
        color: $secondary-color;
        opacity: 0.5;
    }

    .user-input-section {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;

        @media screen and (max-width: 50em) {
            width: 100%;
            margin: 2rem 0 0 0;
        }

        .user-input{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .error {
                font-family: 'Poppins', sans-serif;
                font-size: 2rem;
                background-color: black;
                color: white;
                padding: 1rem;
                border: 0.2rem solid red;
                border-radius: 0.8rem;
            }

            label{
                text-align: center;
                font-size: 1.5rem;
                font-family: 'Poppins', sans-serif;
            }

            input {
                width: 80%;
                max-width: 35rem;
                font-family: 'Poppins', sans-serif;
                outline: none;
                border: none;
                border-radius: 0.5rem;
                background-color: #9b8774ad;
                background-color: $tertiary-color;
                text-align: center;
                padding: 1.5rem 1rem;
                margin: 1rem 1rem 2rem 1rem;
                color: black;

                &::placeholder {
                    // color: $secondary-color;
                    color: $primary-color;
                }
            }
        }
    }

    .button{
        outline: none;
        border: none;
        border-radius: 0.5rem;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        background-color: #5b92799d;
        background-color: $button-color;
        color: black;
        font-family: 'Nunito', sans-serif;
        font-size: 1.6rem;

        i {
            margin-left: 1rem;
        }
    }

    .qr-code-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;

        @media screen and (max-width: 50em) {
            width: 100%;
            margin: 8rem 0;
        }

        .qr-code{
            
            display: flex;
            border-radius: 1rem;
            background-color: $qr-code;
            width: fit-content;
            flex-direction: column;
            justify-content: space-between;
            padding: 2rem;

            button{
                display: flex;
                justify-content: center;
                background-color: #1f1f1f;
                background-color: #58565A;
                color: #EAE6E5;
                border: none;
                outline: none;
                width: 100%; 
                margin-top: 2.5rem;
                border-radius: 1rem;
                
                a{
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.5rem;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: #EAE6E5;
                    padding: 1rem;

                    i {
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
}


